body{
    font-family: 'Roboto', sans-serif;
    color: #595959;  
    line-height: 1.5em;
  
}
span{
    color: #262626;
    font-weight: 900;
}

h2,h3,a{
    color: #3b824d;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

em{
    font-style: italic;
}
a:hover{
    color: #595959;
}

.header {
    width: 100%;
   
    text-align: center;
    padding-bottom: 10px;
    margin-left: 40px;
}

.header  img{
    border: 1px solid gray;
    width: 350px;
} 

/* 
.projects-container{
    margin-left: 10px;
} */
.projects{
    width: 350px;
    float: left;
    margin-left: 40px;
    margin-bottom:40px ;
   
    
}
.projects img{
    width: 100px;
    float: left;   
    
}
.about-container{
    width: 100%;
    clear: both; 
    
}

.about-me{    
    width: 350px;
    float: left;
    margin: 10px;
    margin-left: 40px;    
    margin-bottom: 40px;
}

.interests{
    
    clear: both;
  
    
}

.hobbies{
    float: left;

    margin: 10px 40px 40px 40px ;
   
}

.skills{
    float: right;
    margin: 10px 40px 40px 40px ;
}